{% extends "base.html" %}

{% block content%}
<h2 class="brand">Sorting Algorithms</h2>

<div id="bubble" class="card card-outline" style="margin-bottom: 40px;">
    <h3>Bubble Sort</h3>
</div>

<div id="Selection" class="card card-outline" style="margin-bottom: 40px;">
    <h3>Selection Sort</h3>
</div>

<div id="Insertion" class="card card-outline" style="margin-bottom: 40px;">
    <h3>Insertion Sort</h3>
</div>

<div id="merge" class="card card-outline" style="margin-bottom: 40px;">
    <h3>Merge Sort</h3>
</div>

<div id="quick" class="card card-outline" style="margin-bottom: 40px;">
    <h3>Quick Sort</h3>
</div>

{% endblock %}